<!doctype html>
<html class="no-retina">
  <head>
    <meta charset="utf-8">
    <meta name="refspec" content="{{ refspec }}">
    <title>{{ title }}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% block content %}
        test
        {% block inner %}foo{% endblock %}
      {% endblock %}
    </div>
  </body>
</html>
